doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href=require('bootstrap/dist/css/bootstrap.min.css'))
  body
    div#react-app(data-app)
    div#alert-success-element(data-alert)
    div#alert-fail-element(data-alert)
    script(type='text/javascript' src=require('../../../../.dll/dll'))