<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<body>
<div id="ReactBody"></div>
<script>
  window._shareData = {
    'liveList': [],             // 当前直播
    'recordList': new Map(),    // 当前录制
    'timer': {
      timer: null,              // 定时器，用于自动捕捉和录制
      minute: 10                // 间隔执行
    },
    'liveListCallBack': null,   // 直播列表的回调函数
    'recordListCallBack': null  // 录制列表的回调函数
  };
</script>
<script src="../script/common/nodeRequire.js"></script>
<script src="../script/dist/vendor.js"></script>
<script src="../script/dist/router.js"></script>
</body>
</html>